/* Nút với hiệu ứng hiện đại */
.button {
    -fx-background-radius: 25px; /* Bo tròn viền nút */
    -fx-text-fill: black;
    -fx-font-size: 14px; /* Kích thước chữ */
    -fx-font-weight: bold; /* Đậm chữ */
    -fx-padding: 12 24; /* Khoảng cách xung quanh chữ */
    -fx-border-radius: 25px; /* Bo tròn viền nút */
    -fx-background-color: linear-gradient(to bottom right, #0d47a1, #B0BEC5); /* Gradient từ xanh pastel nhạt sang xanh pastel đậm */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 4, 0.5, 0, 4); /* Bóng mờ nhẹ xung quanh nút */
    -fx-border-width: 1; /* Độ rộng viền */
    -fx-border-color: transparent; /* Viền trong suốt khi không hover */
    -fx-transition: transform 0.3s ease, background-color 0.5s ease, box-shadow 0.4s ease, -fx-border-color 0.3s ease; /* Thêm hiệu ứng chuyển màu và bóng mờ */
}

/* Thêm hiệu ứng khi hover vào nút */
.button:hover {
    -fx-background-color: linear-gradient(to right, #A3D8F4, #7AC8E6, #5E9BD5); /* Gradient sáng hơn khi hover */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 4, 0.6, 0, 4); /* Đổ bóng đậm hơn khi hover */
    -fx-cursor: hand; /* Thay đổi con trỏ thành tay khi hover */
    -fx-border-color: black;
}

/* Thêm hiệu ứng khi nhấn nút */
.button:pressed {
    -fx-background-color: linear-gradient(to right, #6BB7D1, #4F9BB1); /* Màu gradient thay đổi khi nhấn */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 4, 0.5, 0, 4); /* Bóng mờ mờ đi khi nhấn */
}
