/* Kiểu cho TabPane */
.tab-pane .tab-header-area {
    -fx-background-color: transparent; /* Làm nền trong suốt */
    -fx-border-color: transparent;
}

.tab-pane .tab-header-area,
.tab-pane .tab-header-area > .headers-region,
.tab-pane .tab-header-area > .tab-header-background {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
/* Làm phần chứa các tab cũng trong suốt */

.tab-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent; /* Loại bỏ viền */
}

/* Kiểu cho các tab trong TabPane */
.tab {
    -fx-background-color: linear-gradient(to bottom right, #2196F3, #FFFFFF);
    -fx-text-fill: #2196F3;
    -fx-padding: 10px 125,9px; /* Khoảng cách trong tab */
    -fx-border-radius: 125px; /* Bo góc lớn */
    -fx-background-radius: 125px; /* Bo góc nền */
    -fx-font-size: 14px; /* Kích thước chữ */
    -fx-font-weight: bold; /* Chữ đậm */
    -fx-border-color: linear-gradient(to top left, #2196F3, #FFFFFF);
}

/* Khi tab được chọn */
.tab:selected {
    -fx-background-color: linear-gradient(to bottom right, #2196F3, #FFFFFF);
    -fx-border-color: linear-gradient(to top left, #2196F3, #FFFFFF); /* Gradient từ xanh dương sang trắng */
    -fx-text-fill: white; /* Màu chữ khi tab được chọn */
    -fx-border-color: transparent; /* Loại bỏ viền của tab khi chọn */
    -fx-background-radius: 125px; /* Bo góc lớn khi tab được chọn */
}

/* Khi di chuột vào tab */
.tab:hover {
    -fx-text-fill: white; /* Màu chữ khi hover */
    -fx-cursor: hand; /* Con trỏ chuột thành tay */
}

/* Khi hover trên tab chưa chọn */
.tab {
    -fx-border-color: linear-gradient(to top right, #0d47a1, #B0BEC5);/* Gradient giữa 3 màu xanh dương đậm hơn */
    -fx-background-color: linear-gradient(to bottom left, #0d47a1, #B0BEC5);
}

