.button {
    -fx-background-radius: 50%;
    -fx-min-width: 20px;
    -fx-min-height: 23px;
    -fx-max-width: 23px;
    -fx-max-height: 10px;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-cursor: hand;
    -fx-padding: 0;
}

.button:hover {
    -fx-background-color: transparent; /* Màu khi hover */
    -fx-border-color: #056bae;
    -fx-border-radius: 50%;
}